<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - ControlDeUnidades</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="keywords" content="departamentos, unidades, alquiler, edificio, venta, vivienda, Paraguay, Asuncion" />
    <meta name="author" content="Constructora GG" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="~/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="~/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="~/icon/themify-icons/themify-icons.css">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome-n.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <!-- Notification.css -->
    <link rel="stylesheet" type="text/css" href="~/pages/notification/notification.css">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">


    <!-- Required Jquery -->
    <script type="text/javascript" src="~/js/jquery/jquery.min.js "></script>
    <script type="text/javascript" src="~/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="~/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap/js/bootstrap.min.js "></script>
    <!-- waves js -->
    <script src="~/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/js/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- slimscroll js -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js "></script>

    <!-- menu js -->
    <script src="~/js/pcoded.min.js"></script>
    <script src="~/js/vertical/vertical-layout.min.js "></script>
    <script type="text/javascript" src="~/js/script.js "></script>

    <!-- Notification.css -->
    <script type="text/javascript" src="~/js/bootstrap-growl.min.js"></script>


    <!-- Dashboard -->
    <script type="text/javascript" src="~/js/vistas/dashboard.js"></script>

    <!-- Login -->
    <script type="text/javascript" src="~/js/vistas/login.js "></script>


</head>
<style>
    .pointDash {
        cursor: pointer;
        border-right: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;
    }

    .borderUnidad {
        border: 1px solid #fff;
    }

    .fixed-button {
        display: none;
    }

    .modal-info-unidad, .ui-dialog {
        width: 700px !important;
    }

    .table td, .table th {
        vertical-align: none !important;
    }
</style>
<body>

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close"><i class="ti-close input-group-text"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn"><i class="ti-search input-group-text"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="index.html">
                            <img class="img-fluid" src="~/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">
                                <a id="bellNotificacion" href="#!" class="waves-effect waves-light">
                                    <i class="ti-bell"></i>
                                    <span class="badge bg-c-red"></span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notificacion</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="~/images/avatar-4.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Usuario SAP</h5>
                                                <p class="notification-msg">Venta de unidad 9-2.</p>
                                                <span class="notification-time">Hace 30 minutos</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="~/images/avatar-4.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Usuario SAP</h5>
                                                <p class="notification-msg">Factcura vencida en unidad 9-1.</p>
                                                <span class="notification-time">Hace 30 minutos</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="~/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                    <span>Usuario SAP</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a class="logout" href="#">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!-- Menu lateral inicio -->
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-80 img-radius" src="~/images/avatar-4.jpg" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span id="more-details">Usuario SAP<i class="fa fa-caret-down"></i></span>
                                    </div>
                                </div>
                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a class="logout" href="#"><i class="ti-layout-sidebar-left"></i>Logout</aclass="logout">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-15 p-b-0">
                                <form class="form-material">
                                    <div class="form-group form-primary">
                                        <input id="ddbuscador" type="text" name="footer-email" class="form-control buscador">
                                        <span class="form-bar"></span>
                                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Buscar Proyecto</label>
                                    </div>
                                </form>
                            </div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="index.html" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext">Control de Unidades</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>BC</b></span>
                                        <span class="pcoded-mtext">Proyectos</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul id="menuProyectos" class="pcoded-submenu">
                                        <!-- Aqui aparece la lista de proyectos -->
                                    </ul>
                                </li>
                            </ul>


                        </div>
                    </nav>
                    <!-- Menu lateral fin -->

                    <div class="pcoded-content">
                        <!-- Cabecera inicio -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Dashboard</h5>
                                            <p class="m-b-0">Control de Unidades</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#!">Proyecto#1</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#!">Torre#1</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#!">Unidades</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Cabecera fin -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body inicio -->
                                    <div class="page-body" class="row">
                                        @RenderBody()
                                        
                                    </div>
                                    <!-- Page-body fin -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Inicio Modal ------------------------------------------------------------------------------------------------------- -->
    <div id="dialogInfoUnidad" class="modal-info-unidad" title="">
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Bootstrap tab card inicio-->
                    <div class="card">
                        <div id="tituloModalUnidad" class="card-header">
                            <h5>Proyecto#1 - Torre#1</h5>
                            <span>Unidad A9-1</span>
                        </div>
                        <div class="card-block">
                            <!-- Row inicio -->
                            <div class="row">
                                <div class="col-lg-12 col-xl-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs  tabs" role="tablist">
                                        <li id="tabModalInfo" class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#infoUnidad" role="tab">Informaci&oacute;n</a>
                                        </li>
                                        <li id="tabModalDoc" class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#docUnidad" role="tab">Documentos</a>
                                        </li>
                                    </ul>
                                    <!-- Pestañas -->
                                    <div class="tab-content tabs card-block">
                                        <!-- Tab Informacion de la Unidad -->
                                        <div class="tab-pane active" id="infoUnidad" role="tabpanel">
                                            <ul id="liInfoDes" class="list-group list-group-flush">
                                                
                                            </ul>
                                        </div>
                                        <!-- Tab Documentos Relacionado -->
                                        <div class="tab-pane" id="docUnidad" role="tabpanel">
                                            <div class="col-xl-12 col-md-12">
                                                <div class="card table-card">
                                                    <div class="card-header">
                                                        <h5>#CLIENTE#</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="table-responsive">
                                                            <table id="tblModalDocumentos" class="table table-hover m-b-0 without-header">
                                                                <tbody>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Boton cerrar -->
                                    <div class="row">
                                        <div class="col-lg-12 col-xl-12 text-right">
                                            <button id="btnCerrarModalInfo" type="button" class="btn btn-dark">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Row fin -->
                        </div>
                    </div>
                    <!-- Bootstrap tab card fin-->
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal ---------------------------------------------------------------------------------------------------------- -->
</body>
</html>
