@{
    ViewData["Title"] = "Home Page";
}

<!-- ===================================================================================================================================== -->
<!-- SECTOR PROYECTOS INICIO -->
<div id="sector-proyectos">
    <div class="col-xl-12 col-md-12">
        <div class="row">
            <div class="col-xl-12 col-md-12 p-b-0">
                <form class="form-material">
                    <div class="form-group form-primary">
                        <input id="buscador" type="text" name="footer-email" class="form-control buscador">
                        <span class="form-bar"></span>
                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Buscar Proyecto</label>
                    </div>
                </form>
            </div>
        </div>

        <div id="listaProyectos" class="row">
            <!-- Aqui apareceran los proyectos activos -->
        </div>
    </div>
</div>
<!-- SECTOR PROYECTOS FIN -->
<!-- ===================================================================================================================================== -->
<!-- ===================================================================================================================================== -->
<!-- SECTOR TORRES Y UNIDADES INICIO -->
<div id="sector-unidades" class="row">
    <br />
    <!-- TORRES ------------------------------------- -->
    <div class="col-xl-12 col-md-12 seccion-buscar-torre">
        <div class="row">
            <!-- Buscador de torres -->
            <div class="col-sm-10">
                <form class="form-material">
                    <div class="form-group form-primary">
                        <input id="buscador-torre" type="text" name="footer-email" class="form-control">
                        <span class="form-bar"></span>
                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Buscar Torre</label>
                    </div>
                </form>
            </div>
            <!-- Boton volver a proyectos -->
            <div class="col-sm-2 text-right card-block">
                <button id="btnVolverProyectos" class="btn waves-effect waves-light btn-inverse btn-outline-inverse"><i class="icofont icofont-exchange"></i>Volver a Proyectos</button>
            </div>
        </div>

        <div id="listaTorres" class="row">
            <!-- Aqui apareceran las torres por proyecto seleccionado -->
        </div>
    </div>

    <!-- UNIDADES ------------------------------------- -->
    

    <div id="torre1" class="torre">

        <div class="row">
            <div class="col-sm-10">
                <h6 class="sub-title text-uppercase">#Nombre Proyecto# - Torre#1</h6>
            </div>
            <div class="col-sm-2 text-right card-block">
                <button id="btnVolverFiltroTorres" class="btn waves-effect waves-light btn-inverse btn-outline-inverse"><i class="icofont icofont-exchange"></i>Volver</button>
            </div>
        </div>

        <div class="col-xl-12 col-md-12">
            <!-- Inicio filtro por piso/cochera/baulera -->
            <div class="row filtro-estado">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-block caption-breadcrumb">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <h6>Filtro por Art&iacute;culo</h6>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row page-header-breadcrumb cbPCB">
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbPisos" value="Pisos">
                                        <label class="form-check-label" for="cbPisos">Pisos</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbCocheras" value="Cocheras">
                                        <label class="form-check-label" for="cbCocheras">Cocheras</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbBauleras" value="Bauleras">
                                        <label class="form-check-label" for="cbBauleras">Bauleras</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin filtro por piso/cochera/baulera -->
            <!-- Inicio filtro estado unidad/es -->
            <div class="row filtro-estado">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-block caption-breadcrumb">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <h6>Filtro por Estado</h6>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row page-header-breadcrumb cbEstados">
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbLibres" value="Libres">
                                        <label class="form-check-label" for="cbLibres">Libres</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbAsignados" value="Asignados">
                                        <label class="form-check-label" for="cbAsignados">Asignados</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbReservados" value="Reservados">
                                        <label class="form-check-label" for="cbReservados">Reservados</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbFormalizados" value="Formalizados">
                                        <label class="form-check-label" for="cbFormalizados">Formalizados</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cProtocolizados" value="Protocolizados">
                                        <label class="form-check-label" for="cbProtocolizados">Protocolizados</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin filtro estado unidad/es -->
            <!-- Inicio Unidades -->
            <div class="card-block">
                <div class="table-responsive">
                    <table id="tablaUnidades" class="table">
                        <tbody>
                            <tr class="Pisos">
                                <td class="text-center text-white bg-c-purple ">
                                    <i class="fas fa-building mat-icon f-24"></i>
                                    <h6>Piso 5</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-2</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                            </tr>

                            <tr class="Pisos">
                                <td class="text-center text-white bg-c-purple ">
                                    <i class="fas fa-building mat-icon f-24"></i>
                                    <h6>Piso 4</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-2</h6>
                                </td>

                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-2</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                            </tr>

                            <tr class="Pisos">
                                <td class="text-center text-white bg-c-purple ">
                                    <i class="fas fa-building mat-icon f-24"></i>
                                    <h6>Piso 3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-2</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                            </tr>

                            <tr class="Cocheras">
                                <td class="text-center text-white bg-c-purple ">
                                    <i class="fas fa-car mat-icon f-24"></i>
                                    <h6>Cocheras 2</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-2</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                            </tr>

                            <tr class="Bauleras">
                                <td class="text-center text-white bg-c-purple ">
                                    <i class="fas fa-car mat-icon f-24"></i>
                                    <h6>Bauleras 1</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-2</h6>
                                </td>

                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-2</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-yellow Asignados pointDash">
                                    <i class="fas fa-close text-c-red mat-icon f-24"></i>
                                    <h6>A 9-1</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-3</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-9</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-10</h6>
                                </td>
                                <td class="text-center text-white bg-c-red pointDash Formalizados">
                                    <br>
                                    <h6>A 9-11</h6>
                                </td>
                                <td class="text-center text-white bg-c-green pointDash Libres">
                                    <br>
                                    <h6>A 9-12</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- Fin Unidades -->
        </div>


    </div>
    <br /> <br /> <br />
    <!-- Indice Macroproyectos inicio -->
    <div class="col-xl-12">
        <div class="card proj-progress-card">
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-2 col-md-2">
                        <h6>Libres</h6>
                        <h5 class="m-b-30 f-w-700">Nro 86<span class="text-c-green m-l-10">29.97%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-c-green" style="width:30%"></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <h6>Asignados</h6>
                        <h5 class="m-b-30 f-w-700">Nro 31<span class="text-c-yellow m-l-10">10.80%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-c-yellow" style="width:11%"></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <h6>Reservadas</h6>
                        <h5 class="m-b-30 f-w-700">Nro 0<span class="text-c-orenge m-l-10">0.00%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-c-red" style="width:0%"></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <h6>Formalizadas</h6>
                        <h5 class="m-b-30 f-w-700">Nro 170<span class="text-c-red m-l-10">59.23%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-c-red" style="width:59%"></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <h6>Protocolizadas</h6>
                        <h5 class="m-b-30 f-w-700">Nro 0<span class="text-c-blue m-l-10">0.00%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-c-blue" style="width:0%"></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2 text-center">
                        <h6>TOTAL</h6>
                        <h3 class="m-b-30 f-w-700">287</h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="row align-items-center">
                            <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                                <div class="row align-items-center text-center">
                                    <div class="col-1 p-r-0">
                                        <i class="fas fa-signal text-c-red f-24"></i>
                                    </div>
                                    <div class="col-11 p-l-0">
                                        <h5>Precio Base Promedio Vendido</h5>
                                        <h4>68.232,87</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 p-b-20 p-t-20">
                                <div class="row align-items-center text-center">
                                    <div class="col-1 p-r-0">
                                        <i class="fas fa-signal text-c-red f-24"></i>
                                    </div>
                                    <div class="col-11 p-l-0">
                                        <h5>Precio Base Promedio Vendido Metros</h5>
                                        <h4>1.471,57</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Indice Macroproyecto fin -->


</div>
<!-- SECTOR UNIDADES FIN -->
<!-- ===================================================================================================================================== -->
