@{
    ViewData["Title"] = "Home Page";
}

<!-- ===================================================================================================================================== -->
<!-- SECTOR PROYECTOS INICIO -->
<div id="sector-proyectos">
    <div class="col-xl-12 col-md-12">
        <div class="row">
            <div class="col-xl-12 col-md-12 p-b-0">
                <form class="form-material">
                    <div class="form-group form-primary">
                        <input id="buscador" type="text" name="footer-email" class="form-control buscador">
                        <span class="form-bar"></span>
                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Buscar Proyecto</label>
                    </div>
                </form>
            </div>
        </div>

        <div id="listaProyectos" class="row">
            <!-- Aqui apareceran los proyectos activos -->
        </div>
    </div>
</div>
<!-- SECTOR PROYECTOS FIN -->
<!-- ===================================================================================================================================== -->
<!-- ===================================================================================================================================== -->
<!-- SECTOR TORRES Y UNIDADES INICIO -->
<div id="sector-unidades" class="row">
    <br />
    <!-- TORRES ------------------------------------- -->
    <div class="col-xl-12 col-md-12 seccion-buscar-torre">
        <div class="row">
            <!-- Buscador de torres -->
            <div class="col-sm-10">
                <form class="form-material">
                    <div class="form-group form-primary">
                        <input id="buscador-torre" type="text" name="footer-email" class="form-control">
                        <span class="form-bar"></span>
                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Buscar Torre</label>
                    </div>
                </form>
            </div>
            <!-- Boton volver a proyectos -->
            <div class="col-sm-2 text-right card-block">
                <button id="btnVolverProyectos" class="btn waves-effect waves-light btn-inverse btn-outline-inverse"><i class="icofont icofont-exchange"></i>Volver a Proyectos</button>
            </div>
        </div>

        <div id="listaTorres" class="row">
            <!-- Aqui apareceran las torres por proyecto seleccionado -->
        </div>
    </div>

    <!-- UNIDADES ------------------------------------- -->
    <div id="torre1" class="torre">
        <div class="row">
            <div class="col-sm-10">
                <form class="form-material">
                    <div class="form-group form-primary">
                        <h6 id="tituloUnidades" class="sub-title text-uppercase">#Nombre Proyecto# - Torre#1</h6>
                    </div>
                </form>
            </div>
            <div class="col-sm-2 text-right card-block">
                <form class="form-material">
                    <div class="form-group form-primary">
                        <button id="btnVolverFiltroTorres" class="btn waves-effect waves-light btn-inverse btn-outline-inverse"><i class="icofont icofont-exchange"></i>Volver a Torres</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="col-xl-12 col-md-12">
            <!-- Inicio filtro por piso/cochera/baulera -->
            <div class="row filtro-articulo-tipo">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-block caption-breadcrumb">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <h6>Filtro por Art&iacute;culo</h6>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row page-header-breadcrumb cbPCB">
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbPisos" value="Departamentos">
                                        <label class="form-check-label" for="cbPisos">Departamentos</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbCocheras" value="Cocheras">
                                        <label class="form-check-label" for="cbCocheras">Cocheras</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbBauleras" value="Bauleras">
                                        <label class="form-check-label" for="cbBauleras">Bauleras</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbMotos" value="motos">
                                        <label class="form-check-label" for="cbMotos">Estacionamiento para motos</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin filtro por piso/cochera/baulera -->
            <!-- Inicio filtro estado unidad/es -->
            <div class="row filtro-estado">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-block caption-breadcrumb">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <h6>Filtro por Estado</h6>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row page-header-breadcrumb cbEstados">
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbLibres" value="Libres">
                                        <label class="form-check-label" for="cbLibres">Libres</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbAsignados" value="Asignadas">
                                        <label class="form-check-label" for="cbAsignados">Asignados</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbReservados" value="Reservadas">
                                        <label class="form-check-label" for="cbReservados">Reservados</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cbFormalizados" value="Formalizadas">
                                        <label class="form-check-label" for="cbFormalizados">Formalizados</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="cProtocolizados" value="Protocolizadas">
                                        <label class="form-check-label" for="cbProtocolizados">Protocolizados</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin filtro estado unidad/es -->
            <!-- Inicio Unidades -->
            <div class="card-block">
                <div class="table-responsive">
                    <table id="tablaUnidades" class="table">
                        <tbody>
                            <!-- Aqui apareceran las unidades segun la torre seleccionada -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Fin Unidades -->
        </div>
    </div>

    <br /> <br /> <br />
    <!-- Indice Macroproyectos inicio -->
    <div class="row">
        <div class="col-xl-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">Datos por Torre</h5>
                </div>
                <div class="card mat-stat-card">
                    <div class="datos-por-torre card-block">
                        <div class="indiceMacroPorTorre row align-items-center b-b-default">

                        </div>
                        <div class="promediosTotalesTorres row align-items-center b-b-default">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">Datos por Proyecto</h5>
                </div>
                <div class="card mat-stat-card">
                    <div class="datos-por-proy card-block">
                        <div class="indiceMacroPorProy row align-items-center b-b-default">

                        </div>
                        <div class="promediosTotalesProy row align-items-center b-b-default">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Indice Macroproyecto fin -->
</div>
<!-- SECTOR TORRES Y UNIDADES FIN -->
<!-- ===================================================================================================================================== -->
